<% content_for :head do %>
	<%= javascript_include_tag "jquery_rails.js" %>
	<%= javascript_include_tag "canvas.js" %>
<% end %>
<h1>CANVAS</h1>
<canvas id="myCanvas" width = "600" height = "200"></canvas>
<div id="clear"><a href='#'>Clear</a></div>
<div id="saveSelection"><a href='#'>Save</a></div>
<div id="selections"></div>
